{% extends 'layouts/main.html' %}
{% from 'utils/_form_fields.html' import render_field, button_field %}
{% from 'utils/_messages.html' import flash_messages %}

{% block content %}
<div id="error">

    <div class="container text-center pt-32">
        <h1 class='error-title'>401</h1>
        <p>No cuenta con las credenciales para este modulo</p>
        <!-- <a href="index.html" class='btn btn-primary'>Go Home</a> -->
    </div>

    <div class="footer pt-32">
        <p class="text-center">Copyright &copy; Voler 2020</p>
    </div>
</div>
</body>
{% endblock %}